* {
  box-sizing: border-box;
}

:root {
  --yellow: yellow;
}

:: ::selection {
  background-color: var(--yellow);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(135, 148, 148);
  color: black;
}

.header h1 {
  font-size: 70px;
  color: white;
}

.header nav ul {
  list-style: none;
}
.header nav ul li {
  display: inline-block;
  padding:  0px 20px;
  font-size: 20px;
  color: white;
}

a[href$=".css"] {
  color: white;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  height: 80px;
  background-image: url(../images/wooden-boards.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif
  
}

#flex-container {
  display: inline-block;
  align-items: flex-end;
  position: relative;
  right: 100px;
  top: 20px;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  color: rgb(59, 22, 8);
}

.about-me {
  display: grid;
  width: fit-content;
  margin: 0.2%;
  border-radius: 15px;
  background-color: rgb(135, 148, 148);
  grid-template-rows: 25% 90%;
  grid-template-columns: 3fr 3fr 1fr;
  grid-template-areas:
  "about-me-h2 about-me-h2 about-me-img"
  "about-me-p about-me-p about-me-img";
}

#about-me-h2 {
  grid-area: about-me-h2;
  align-items: center;
  padding-left: 0.5%;
  font-size: 30px;
  text-decoration: underline;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#about-me-p {
  grid-area: about-me-p;
  font-size: 15.5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 0.5%;
}

#about-me-img {
  grid-area: about-me-img;
  height: 150px;
  width: 150px;
  padding: 3%;
}

.workHeading {
  font-size: 24px;
  text-decoration: underline;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding-right: 16px;
}

#workGrid {
  display: grid;
  height: 60vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "horiseon-marketing horiseon-marketing portfolio-red portfolio-red"
  "horiseon-marketing horiseon-marketing portfolio-laptop portfolio-laptop"
  "portfolio-sea portfolio-sea portfolio-bluepink portfolio-bluepink";
}

.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
  border: 10px;
  margin: 10px;
  cursor: pointer;
  display: grid;
  align-content: end;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.workSubheading {
  background-color: rgba(0, 0, 0, 0.7);
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid black;
}

#horiseon-marketing {
  grid-area: horiseon-marketing;
  background-image: url(../images/digital-marketing-meeting.jpg);
}

a[href^="https"] {
  color: white;
}

#portfolio-red {
  grid-area: portfolio-red;
  background-image: url(../images/02-portfolio-1.jpg);
}

#portfolio-laptop {
  grid-area: portfolio-laptop;
  background-image: url(../images/02-portfolio-2.jpg);
}

#portfolio-sea {
  grid-area: portfolio-sea;
  background-image: url(../images/02-portfolio-4.jpg);
}

#portfolio-bluepink {
  grid-area: portfolio-bluepink;
  background-image: url(../images/02-portfolio-3.jpg);
}








h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
