* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(135, 148, 148);
  color: black;
}

.header h1 {
  font-size: 70px;
  background-color: white;
  color: rgb(135, 148, 148);
}

.header nav ul {
  list-style: none;
}
.header nav ul li {
  display: inline-block;
  padding:  0px 20px;
  font-size: 20px;
  color: white;
}

a[href$=".css"] {
  color: white;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  height: 80px;
  background-image: url(../images/wooden-boards.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif
  
}

#flex-container {
  display: inline-block;
  align-items: flex-end;
  position: relative;
  right: 100px;
  top: 20px;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  color: rgb(59, 22, 8);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
